.content {
  width: 100%;
  max-width: 100%;
  margin-bottom: 3rem;
}

.table {
  min-width: 300px;
  height: 100%;
  overflow: auto;
}

.row {
  display: table-row;
}

.left {
  display: table-cell;
  width: 185px;
}

.right {
  display: table-cell;
}

.countdown {
  min-height: 123px;
  width: 100%;
  font-size: 5em;
}

.semaphore {
  min-height: 123px;
  width: 100%;
}

.menu button {
  width: 33%;
  height: 35px;
}

.actions button {
  width: 50%;
  height: 35px;
}

.redLight,
.greenLight,
.yellowLight {
  display: inline-block;
  width: 33%;
}
