.content {
  width: 100%;
  max-width: 360px;
  margin-bottom: 3rem;
}

.table {
  min-width: 300px;
  height: 100%;
  overflow: auto;
}

.left {
  float: left;
  width: 185px;
  margin-right: -185px;
  overflow: auto;
}

.right {
  margin-left: 185px;
  min-height: 1em;
  overflow: auto;
}

.countdown {
  min-height: 100px;
  width: 100%;
  font-size: 5em;
}

.semaphore {
  min-height: 100px;
  width: 100%;
}

.menu button {
  width: 120px;
  height: 35px;
}

.actions button {
  width: 150px;
  height: 35px;
}

.redLight,
.greenLight,
.yellowLight {
  display: inline-block;
  width: 33%;
}
