html, body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: xx-large;

	margin: auto;
	height: 100%;
	width: 600px;
}

@media only screen and (max-width: 600px) {
	body {
		width: 100%;
	}
}
