<div class="content">
  <div *ngIf="page==1" class="main">
    <div class="menu">
      <button type="button" [disabled]="!scanEnabled" (click)="onScan()" clickable>Scan</button>
      <button type="button" [disabled]="!settingsEnabled" (click)="onSettings()" clickable>Settings</button>
      <button type="button" [disabled]="!manualControlEnabled" (click)="onManualControl()" clickable>Manual Control</button>
    </div>
    <div class="actions">
      <button type="button" [disabled]="!beginRoundEnabled" (click)="onBeginRound()" clickable>Begin Round</button>
      <button type="button" [disabled]="!endRoundEnabled" (click)="onEndRound()" clickable>End Round</button>
    </div>
    <div class="table">
      <div>
        <div class="left">Round</div>
        <div class="right">{{round}}</div>
      </div>
      <div>
        <div class="left">Set</div>
        <div class="right">{{set}}</div>
      </div>
      <div>
        <div class="left">Round time</div>
        <div class="right">{{roundTime| date:'HH:mm:ss': 'UTC'}}</div>
      </div>
      <div>
        <div class="left">Line</div>
        <div class="right" [ngSwitch]="line">
          <span *ngSwitchCase="1">AB</span>
          <span *ngSwitchCase="2">CD</span>
          <span *ngSwitchCase="3"></span>
        </div>
      </div>
    </div>
    <div class="countdown">
      {{countdown|number:'3.0-0'}}
    </div>
    <div class="semaphore">
      <div class="redLight">
        <span [hidden]="!isVisible(SemaphoreLight.RED)">
          <svg viewBox="0 0 1 1" version="1.1" class="redLightGlyph" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <circle fill="#FF0000" cx="0.5" cy="0.5" r="0.5" />
          </svg>
        </span>
      </div>
      <div class="greenLight">
        <span [hidden]="!isVisible(SemaphoreLight.GREEN)">
          <svg viewBox="0 0 1 1" version="1.1" class="greenLightGlyph" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <circle fill="#00FF00" cx="0.5" cy="0.5" r="0.5" />
          </svg>
        </span>
      </div>
      <div class="yellowLight">
        <span [hidden]="!isVisible(SemaphoreLight.YELLOW)">
          <svg viewBox="0 0 1 1" version="1.1" class="yellowLightGlyph" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <circle fill="#FFFF00" cx="0.5" cy="0.5" r="0.5" />
          </svg>
        </span>
      </div>
    </div>
    <div class="actions">
      <button type="button" [disabled]="!startSetEnabled" (click)="onStartSet()" clickable>Start Set</button>
      <button type="button" [disabled]="!stopSetEnabled" (click)="onStopSet()" clickable>Stop Set</button>
      <button type="button" [disabled]="!cancelSetEnabled" (click)="onCancelSet()" clickable>Cancel Set</button>
      <button type="button" [disabled]="!customSetEnabled" (click)="onCustomSet()" clickable>Custom Set</button>
      <button type="button" [disabled]="!pauseEnabled" (click)="onPauseSet()" clickable>Pause</button>
      <button type="button" [disabled]="!resumeEnabled" (click)="onResumeSet()" clickable>Resume</button>
      <div>
        <div class="left">Custom Set Time</div>
        <div class="right">
          <input [(ngModel)]="settings.customSetTime" type="number">
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="left">Clients</div>
        <div class="right">{{restClientController.getAllClients().size}}</div>
      </div>
      <div>
        <div class="left">Clocks</div>
        <div class="right">{{restClientController.getClients('clock').length}}</div>
      </div>
      <div>
        <div class="left">Semaphores</div>
        <div class="right">{{restClientController.getClients('semaphore').length}}</div>
      </div>
      <div>
        <div class="left">Sirens</div>
        <div class="right">{{restClientController.getClients('siren').length}}</div>
      </div>
      <div>
        <div class="left">Lines</div>
        <div class="right">{{restClientController.getClients('lines').length}}</div>
      </div>
      <div>
        <div class="left">Countdown</div>
        <div class="right">{{restClientController.getClients('countdown').length}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="page==2" class="settings">
    <div class="table">
      <div>
        <div class="left">Line Rotation</div>
        <div class="right">
          <select [(ngModel)]="settings.linesRotation">
            <option value="SIMPLE">Simple</option>
            <option value="ALTERNATING">Alternating</option>
          </select>
        </div>
      </div>
      <div>
        <div class="left">Lines</div>
        <div class="right">
          <input [(ngModel)]="settings.lines" type="number">
        </div>
      </div>
      <div>
        <div class="left">Rounds</div>
        <div class="right">
          <input [(ngModel)]="settings.roundSets" type="number">
        </div>
      </div>
      <div>
        <div class="left">Set Time</div>
        <div class="right">
          <input [(ngModel)]="settings.setTime" type="number">
        </div>
      </div>
      <div>
        <div class="left">Preparation Time</div>
        <div class="right">
          <input [(ngModel)]="settings.preparationTime" type="number">
        </div>
      </div>
      <div>
        <div class="left">Warning Time</div>
        <div class="right">
          <input [(ngModel)]="settings.warningTime" type="number">
        </div>
      </div>
      <div>
        <div class="left">Continuous</div>
        <div class="right">
          <input type="checkbox" [(ngModel)]="settings.continuous">
        </div>
      </div>
      <div>
        <div class="left">Number of sets</div>
        <div class="right">
          <input [(ngModel)]="settings.numberOfSets" type="number">
        </div>
      </div>
      <div>
        <div class="left">Delayed start</div>
        <div class="right">
          <input type="checkbox" [(ngModel)]="settings.delayedStartEnabled">
        </div>
      </div>
      <div>
        <div class="left">Time of start</div>
        <div class="right">
          <input [(ngModel)]="settings.delayedStartTime" type="string">
        </div>
      </div>
      <div>
        <div class="left">Brightness</div>
        <div class="right">
          <input [(ngModel)]="settings.brightness" type="number">
        </div>
      </div>
      <div>
        <div class="left">Sound</div>
        <div class="right">
          <input type="checkbox" [(ngModel)]="settings.soundEnabled">
        </div>
      </div>
      <div>
        <div class="left">Network</div>
        <div class="right">
          <input [(ngModel)]="settings.network" type="string">
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" (click)="onSettingsAccepted()" clickable>Ok</button>
      <button type="button" (click)="onSettingsCanceled()" clickable>Cancel</button>
    </div>
  </div>
  <div *ngIf="page==3" class="manual">
    <div>
      Semaphores
    </div>
    <div class="actions">
      <button type="button" (click)="onSetSemaphore(SemaphoreLight.RED)" clickable>Red</button>
      <button type="button" (click)="onSetSemaphore(SemaphoreLight.GREEN)" clickable>Green</button>
      <button type="button" (click)="onSetSemaphore(SemaphoreLight.YELLOW)" clickable>Yellow</button>
      <button type="button" (click)="onSetSemaphore(SemaphoreLight.NONE)" clickable>Off</button>
    </div>
    <div>
      Sirene
    </div>
    <div class="actions">
      <button type="button" (click)="onSetSirene(1)" clickable>1</button>
      <button type="button" (click)="onSetSirene(2)" clickable>2</button>
      <button type="button" (click)="onSetSirene(3)" clickable>3</button>
    </div>
    <div>
      Clock
    </div>
    <div class="actions">
      <button type="button" (click)="onSetClock(1)" clickable>1</button>
      <button type="button" (click)="onSetClock(5)" clickable>5</button>
      <button type="button" (click)="onSetClock(10)" clickable>10</button>
      <button type="button" (click)="onSetClock(20)" clickable>20</button>
      <button type="button" (click)="onSetClock(30)" clickable>30</button>
      <button type="button" (click)="onSetClock(120)" clickable>120</button>
      <button type="button" (click)="onSetClock(240)" clickable>240</button>
    </div>
    <div>
      Clock countdown
    </div>
    <div class="actions">
      <button type="button" (click)="onSetClockCountdown(30)" clickable>30</button>
    </div>
    <div class="actions">
      <button type="button" (click)="onBackToMain()" clickable>Back</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
