<div #contentElement>
	<div>
		<h1>{{ 'Settings' | translate }}</h1>
	</div>
	<div class="table">
		<div class="left">{{ 'Language' | translate }}</div>
		<div class="right">
			<select #lang [(ngModel)]="settings.language"
				(input)="onLanguageChange(lang.value)">
				<option value="en">English</option>
				<option value="cs">Česky</option>
			</select>
		</div>
		<div class="left">{{ 'Line Rotation' | translate }}</div>
		<div class="right">
			<select [(ngModel)]="settings.linesRotation">
				<option value="BYROUND">{{ 'By round' | translate }}</option>
				<option value="BYSET">{{ 'By set' | translate }}</option>
				<option value="NO">{{ 'No rotation' | translate }}</option>
			</select>
		</div>
		<div class="left">{{ 'Lines' | translate }}</div>
		<div class="right">
			<input [(ngModel)]="settings.lines" type="number">
		</div>
		<div class="left">{{ 'Set Time' | translate }}</div>
		<div class="right">
			<input [(ngModel)]="settings.setTime" type="number">
		</div>
		<div class="left">{{ 'Preparation Time' | translate }}</div>
		<div class="right">
			<input [(ngModel)]="settings.preparationTime" type="number">
		</div>
		<div class="left">{{ 'Warning Time' | translate }}</div>
		<div class="right">
			<input [(ngModel)]="settings.warningTime" type="number">
		</div>
		<div class="left colspan-2">
			<hr />
		</div>
		<div class="left">{{ 'Brightness' | translate }}</div>
		<div class="right">
			<input [(ngModel)]="settings.brightness"
				(input)="onBrightnessChange()"
				type="range"
				name="volume"
				min="0"
				max="255" />
		</div>
		<div class="left">{{ 'Sound' | translate }}</div>
		<div class="right">
			<input type="checkbox" [(ngModel)]="settings.soundEnabled">
		</div>
		<div class="left colspan-2">
			<hr />
		</div>
		<div class="left">{{ 'Network' | translate }}</div>
		<div class="right">
			<input [(ngModel)]="settings.network" type="string">
		</div>
	</div>
	<div>
		<hr />
	</div>
	<div class="actions">
		<button type="button" (click)="onSettingsAccepted()" clickable>{{ 'Ok' | translate }}</button>
		<button type="button" (click)="onSettingsCanceled()" clickable>{{ 'Cancel' | translate }}</button>
	</div>
</div>
